:root {
    --cor-ciano: #00F0FF;
}

.menu {
    display: flex;
}
nav {
    color: white;
    font-size: 16px;
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
    margin: 20px 40px 0 auto;
    height: 40px;
    width: 580px;
    backdrop-filter: blur(2px);
    z-index: 2;
}
nav::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        10px 100%,
        0 calc(100% - 10px),
        0 0,
        1px 1px,
        1px calc(100% - 10.7px),
        10.7px calc(100% - 1px),
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 1px) 10.7px,
        calc(100% - 10.7px) 1px,
        1px 1px);
}
nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.383);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    z-index: -1;
}
nav > ul {
    display: flex;
    margin-left: 20px;
}
nav > ul > li, nav > ul > a {
    padding: 10px;
    padding-right: 20px;
    position: relative;
    list-style: none;
}
nav > ul > li > ul {
    position: absolute;
    width: 150px;
    height: 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    top: 100%;
    left: 0;
    backdrop-filter: blur(2px);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    list-style: none;
    visibility: hidden;
}
nav > ul > li > ul::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        10px 100%,
        0 calc(100% - 10px),
        0 0,
        1px 4px,
        1px calc(100% - 10.7px),
        10.7px calc(100% - 1px),
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 1px) 10.7px,
        calc(100% - 10.7px) 4px,
        1px 4px);
}
nav > ul > li > ul > li {
    position: relative;
    margin: 10px;
}
nav > ul > li > ul > li::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    background-color: var(--cor-ciano);
    height: 1px;
    width: 5px;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-family: 'blender', Arial, Helvetica, sans-serif;
}
nav > ul > a {
    color: black;
    background-color: var(--cor-ciano);
    margin-left: -1px;
    height: 20px;
    width: 120px;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
}
nav > ul > li:nth-child(4):hover ~ a::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 1px;
    background-color: black;
    z-index: 1;
}
nav > ul > li span::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    height: 20px;
    width: 1px;
    background-color: var(--cor-ciano);
}
nav > ul > li span::after {
    content: "";
    position: absolute;
    top: 17px;
    left: calc(100% - 15px);
    height: 3px;
    width: 6px;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        100% 0,
        50% 100%
    );
    transition: .3s;
}
nav > ul > li:hover {
    color: black;
    background-color: var(--cor-ciano);
    cursor: default;
}
nav > ul > li:hover > ul {
    visibility: visible;
}
nav > ul > li:hover span::before {
    display: none;
}
.canto {
    position: absolute;
    height: 100%;
    width: 21px;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%, 0 calc(100% - 10px));
}
nav > ul > li:nth-child(1):hover ~ .canto{
    background-color: var(--cor-ciano);
}
