@keyframes glitch {
    0% {
        clip-path: polygon(0 2%,100% 2%,100% 5%,0 5%);
        opacity: 1;
        transform: translateZ(0)
    }

    2% {
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(-5px)
    }

    6% {
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(5px)
    }

    8% {
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(-5px)
    }

    9% {
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(0)
    }

    10% {
        clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        transform: translate3d(5px,0,0)
    }

    13% {
        clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        transform: translateZ(0)
    }

    13.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0);
        transform: translate3d(5px,0,0)
    }

    15% {
        clip-path: polygon(0 60%,100% 60%,100% 40%,0 40%);
        transform: translate3d(5px,0,0)
    }

    20% {
        clip-path: polygon(0 60%,100% 60%,100% 40%,0 40%);
        transform: translate3d(-5px,0,0)
    }

    20.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0);
        transform: translate3d(5px,0,0)
    }

    25% {
        clip-path: polygon(0 85%,100% 85%,100% 40%,0 40%);
        transform: translate3d(5px,0,0)
    }

    30% {
        clip-path: polygon(0 85%,100% 85%,100% 40%,0 40%);
        transform: translate3d(-5px,0,0)
    }

    30.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0)
    }

    35% {
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(-5px)
    }

    40% {
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(5px)
    }

    45% {
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(-5px)
    }

    50% {
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(0)
    }

    55% {
        clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        transform: translate3d(5px,0,0)
    }

    60% {
        clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        opacity: 1;
        transform: translateZ(0)
    }

    60.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0);
        opacity: 1
    }
    
    to {
        clip-path: polygon(0 0,0 0,0 0,0 0);
        opacity: 1
    }
}

@font-face {
    font-family: 'blender';
    src: url('fonts/blenderprobold.otf') format('truetype');
}

@font-face {
    font-family: 'blenderl';
    src: url('fonts/BlenderPro-Book.woff2') format('truetype');
}

:root {
    --cor-ciano: #00F0FF;
    --cor-amarelo: #FCEE09;
    --cor-vermelho: #FF003C;
    --cor-verde: #1afe49;
}

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    overflow-x: hidden;
    width: 100vw;
}

/* Cabeçalho */

header {
    background-image: url(img/back-edgerunners.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: inherit;
}
header::before {
    content: "";
    position: absolute;
    height: 30vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

/* Menu */

.menu {
    display: flex;
}
nav {
    color: white;
    font-size: 16px;
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
    margin: 20px 40px 0 auto;
    height: 40px;
    width: 580px;
    backdrop-filter: blur(2px);
}
nav::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        10px 100%,
        0 calc(100% - 10px),
        0 0,
        1px 1px,
        1px calc(100% - 10.7px),
        10.7px calc(100% - 1px),
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 1px) 10.7px,
        calc(100% - 10.7px) 1px,
        1px 1px);
}
nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.383);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    z-index: -1;
}
nav > ul {
    display: flex;
    margin-left: 20px;
}
nav > ul > li, nav > ul > a {
    padding: 10px;
    padding-right: 20px;
    position: relative;
    list-style: none;
}
nav > ul > li > ul {
    position: absolute;
    width: 150px;
    height: 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.383);
    top: 100%;
    left: 0;
    backdrop-filter: blur(2px);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    list-style: none;
    visibility: hidden;
}
nav > ul > li > ul::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        calc(100% - 10px) 0,
        100% 10px,
        100% 100%,
        10px 100%,
        0 calc(100% - 10px),
        0 0,
        1px 4px,
        1px calc(100% - 10.7px),
        10.7px calc(100% - 1px),
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 1px) 10.7px,
        calc(100% - 10.7px) 4px,
        1px 4px);
}
nav > ul > li > ul > li {
    position: relative;
    margin: 10px;
}
nav > ul > li > ul > li::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    background-color: var(--cor-ciano);
    height: 1px;
    width: 5px;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-family: 'blender', Arial, Helvetica, sans-serif;
}
nav > ul > a {
    color: black;
    background-color: var(--cor-ciano);
    margin-left: -1px;
    height: 20px;
    width: 120px;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
}
nav > ul > li:nth-child(4):hover ~ a::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 1px;
    background-color: black;
    z-index: 1;
}
nav > ul > li span::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    height: 20px;
    width: 1px;
    background-color: var(--cor-ciano);
}
nav > ul > li span::after {
    content: "";
    position: absolute;
    top: 17px;
    left: calc(100% - 15px);
    height: 3px;
    width: 6px;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        100% 0,
        50% 100%
    );
    transition: .3s;
}
nav > ul > li:hover {
    color: black;
    background-color: var(--cor-ciano);
    cursor: default;
}
nav > ul > li:hover > ul {
    visibility: visible;
}
nav > ul > li:hover span::before {
    display: none;
}
.canto {
    position: absolute;
    height: 100%;
    width: 21px;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%, 0 calc(100% - 10px));
}
nav > ul > li:nth-child(1):hover ~ .canto{
    background-color: var(--cor-ciano);
}

/* Selecionar o cyberpunk */

.selecionar {
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10vh auto;
}
.selecionar > div {
    width: 30vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    clip-path: polygon(0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px));
    transition: .5s;
}
.selecionar > div:hover {
    transform: scale(1.2);
    transition: 1s;
    z-index: 1;
}
.selecionar > div::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--cor-amarelo);
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 0,
        2px 2px,
        2px calc(100% - 21.5px),
        21.5px calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 21.5px,
        calc(100% - 21.5px) 2px,
        2px 2px);
}
.selecionar > div img {
    width: 24vw;
    height: 6vw;
    margin: auto;
    margin-top: 10px;
    display: block;
}
.bb {
    padding: 1.75vh 6.75vh;
    margin: auto;
    margin-top: 5vh;
    width: 16.25vh;
    height: 6.5vh;
    position: relative;
    color: black;
    font-size: 3.2vh;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    background-image: url(img/botao.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
    list-style: none;
    display: block;
}
.bb span {
    animation: glitch 3.5s linear infinite;
    top: 0;
    left: 0;
    padding: inherit;
    width: inherit;
    position: absolute;
    color: inherit;
    font-size: inherit;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    background-image: url(img/botao.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
    list-style: none;
}

/* lateral */

#baixo {
    display: flex;
}

#lateral {
    height: 70vh;
    width: 40vh;
    margin-top: 20px;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    background-image: url(img/nightcity.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 20px);
    position: relative;
    box-shadow: 1px 1px black;
}
#lateral::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: var(--cor-amarelo);
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 20px,
        20px 0,

        21.5px 2px,
        2px 21.5px,
        2px calc(100% - 21.5px),
        21.5px calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 2px,
        21.5px 2px);
}
#lateral::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 20px,
        20px 0);
    background-image: url(img/nightcity.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
#lateral h1 {
    font-family: 'blender', Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: white;
    text-align: center;
    height: 10vh;
    width: 28vh;
    margin: auto;
    margin-top: 10vh;
    position: relative;
    line-height: 10vh;
}
#lateral h1::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-amarelo);
    clip-path: polygon(
        0 2vh,
        2px 2vh,
        2px calc(100% - 2vh),
        0 calc(100% - 2vh),
        0 2vh,
        
        calc(100% - 2px) 2vh,
        calc(100% - 2px) calc(100% - 2vh),
        100% calc(100% - 2vh),
        100% 2vh);
}
#lateral a {
    display: block;
    color: var(--cor-ciano);
    text-decoration: none;
    width: 27vh;
    height: 6vh;
    margin: auto;
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.471);
    clip-path: polygon(3vh 0,
    100% 0,
    calc(100% - 3vh) 100%,
    0 100%);
    font-size: 3vh;
    text-align: center;
    position: relative;
    line-height: 6vh;
}
#lateral a::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        5vh 0,
        100% 0,
        100% 100%,
        0 100%,
        0 calc(100% - 15px),
        13px calc(100% - 2px),
        100% calc(100% - 2px),
        100% 15px,
        calc(100% - 13px) 2px,
        0 2px);
}
#lateral a::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        5vh 2vh,
        calc(5vh + 1px) 2vh,
        calc(5vh + 1px) 4vh,
        5vh 5vh,
        5vh 2vh,
        
        calc(100% - 5vh - 1px) 2vh,
        calc(100% - 5vh - 1px) 4vh,
        calc(100% - 5vh) 4vh,
        calc(100% - 5vh) 2vh);
}

/* Conteudo */

main {
    position: relative;
}
#conteudo {
    color: white;
    background-image: linear-gradient(to bottom, black, rgb(39, 39, 39));
    text-align: justify;
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    z-index: -2;
}

/* introducao */

.introducao {
    height: 17rem;
    width: 100vw;
    color: black;
    background-color: var(--cor-amarelo);
    text-align: center;
    font-size: 1.9rem;
    position: relative;
}
.introducao::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background-image: url(img/divisao-amarela.svg);
}
.introducao::after {
    content: "";
    position: absolute;
    transform: translate(0, -100%);
    top: 100%;
    left: 0;
    width: 100%;
    height: 2rem;
    background-image: url(img/divisao.svg);
}
.introducao div {
    height: 13rem;
    width: 95vw;
    margin: 1rem auto;
    position: relative;
}
.introducao div::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: black;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 calc(100% - 3rem),
        2px calc(100% - 3rem),
        2px calc(100% - 2px),
        3rem calc(100% - 2px),
        3rem 100%,
        calc(100% - 3rem) 100%,
        calc(100% - 3rem) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 3rem),
        100% calc(100% - 3rem),
        100% 3rem,
        calc(100% - 2px) 3rem,
        calc(100% - 2px) 2px,
        calc(100% - 3rem) 2px,
        calc(100% - 3rem) 0,
        calc(50% + 2rem) 0,
        calc(50% + 2rem) 2px,
        calc(50% - 2rem) 2px,
        calc(50% - 2rem) 0,
        3rem 0,
        3rem 2px,
        2px 2px,
        2px 3rem,
        0 3rem
    );
}
.introducao > div > p {
    padding: 3rem;
}

/* Grid */

#grid {
    width: 96rem;
    margin: auto;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}
#grid > div {
    width: 30rem;
    height: 30rem;
    margin: auto;
    position: relative;
}
#grid > div::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 0,
        2px 2px,
        2px calc(100% - 21.5px),
        21.5px calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 21.5px,
        calc(100% - 21.5px) 2px,
        2px 2px);
    z-index: 1;
}
#grid > .cp2077::before {
    background-color: var(--cor-vermelho);
}
#grid > .edgerunners::before {
    background-color: var(--cor-verde);
}
#grid > div::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px));
}

#grid > div:nth-child(1)::after {
    background-image: url(img/personagens/v.webp);
}
#grid > div:nth-child(2)::after {
    background-image: url(img/personagens/johnny.webp);
}
#grid > div:nth-child(3)::after {
    background-image: url(img/personagens/jackie.webp);
}
#grid > div:nth-child(4)::after {
    background-image: url(img/personagens/judy.webp);
}
#grid > div:nth-child(5)::after {
    background-image: url(img/personagens/david.webp);
}
#grid > div:nth-child(6)::after {
    background-image: url(img/personagens/lucy.webp);
}
#grid > div:nth-child(7)::after {
    background-image: url(img/personagens/rebecca.webp);
}
#grid > div:nth-child(8)::after {
    background-image: url(img/personagens/kiwi.webp);
}

.texto, .texto2 {
    position: absolute;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    height: 17rem;
    width: 50rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    display: none;
    opacity: 0;
}
.texto::before, .texto2::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    clip-path: polygon(
        calc(50% - 15rem + 20px) 0,
        calc(50% + 15rem) 0,
        calc(50% + 17rem) 1rem,
        100% 1rem,
        100% 100%,
        0 100%,
        0 1rem,
        calc(50% - 17rem) 1rem,
        calc(50% - 15rem + 20px) 0,

        calc(50% - 15rem + 20px) 3rem,
        2px 3rem,
        2px calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 3rem,
        calc(50% - 15rem + 20px) 3rem
        );
    opacity: inherit;
}
.texto::before {
    background-color: var(--cor-vermelho);
}
.texto2::before {
    background-color: var(--cor-verde);
}
.texto p, .texto2 p {
    margin: 3rem;
    color: var(--cor-ciano);
}
#grid .cp2077:hover .texto, #grid .edgerunners:hover .texto2{
    display: block;
    opacity: 1;
}
/* Roda pé */

footer {
    height: 50rem;
}