@keyframes glitch {
    0% {
        clip-path: polygon(0 2%,100% 2%,100% 5%,0 5%);
    }
    2% {
        clip-path: polygon(0 98%,100% 98%,100% 100%,0 100%);
        transform: translate(-5px)
    }
    6% {
        transform: translate(5px)
    }
    8% {
        transform: translate(-5px)
    }
    9% {
        transform: translate(0)
    }
    10% {
        clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        transform: translate(5px,0)
    }
    13.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0);
    }
    15% {
        clip-path: polygon(0 60%,100% 60%,100% 50%,0 50%);
    }
    20.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0);
    }
    25% {
        clip-path: polygon(0 85%,100% 85%,100% 70%,0 70%);
    }
    30% {
        transform: translate(-5px,0)
    }
    30.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0)
    }
    35% {
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
    }
    40% {
        transform: translate(5px)
    }
    45% {
        transform: translate(-5px)
    }
    50% {
        transform: translate(0)
    }
    55% {
        clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        transform: translate(5px,0)
    }
    60.1% {
        clip-path: polygon(0 0,0 0,0 0,0 0);
    }
}

@keyframes errado {
    0% {
        background-color: var(--cor-vermelho);
    }
    50% {
        background-color: var(--cor-vermelho);
    }
    51% {
        background-color: var(--cor-ciano);
    }
}
@keyframes erradoc {
    0% {
        color: var(--cor-vermelho);
    }
    50% {
        color: var(--cor-vermelho);
    }
    51% {
        color: var(--cor-ciano);
    }
}

@font-face {
    font-family: 'blender';
    src: url('../fonts/blenderprobold.otf') format('truetype');
}
@font-face {
    font-family: 'blenderl';
    src: url('../fonts/BlenderPro-Book.woff2') format('truetype');
}

:root {
    --cor-ciano: #00F0FF;
    --cor-amarelo: #FCEE09;
    --cor-vermelho: #FF003C;
    --cor-verde: #1afe49;
}

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 20px;
}
body {
    background-image: url(../img/back-2077-5.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
}
section {
    height: 100vh;
    width: 100%;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
.quiz {
     background-color: rgba(0, 0, 0, 0.4);
     display: flex;
     flex-direction: column;
     height: 100vh;
}

.quiz > div:nth-child(1) {
    display: flex;
    height: 100%;
}
.quiz > div > div::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 5px;
    background-color: var(--cor-ciano);
}
#numero {
    height: 3rem;
    width: 1rem;
    padding: 0 4rem 0 2rem;
    position: relative;
    text-align: center;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        0 100%,
        40% 100%, 
        100% 0
    );
}
#numero::before {
    content: attr(data-content);
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: var(--cor-ciano);
}

/* Animação troca de pergunta */ 

.troca #pergunta {
    animation: glitch .3s;
}

/* Pergunta */

#pergunta {
    color: white;
    font-size: 2rem;
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 100%;
    margin: auto;
}

/* Alternativas */

#resposta {
    display: grid;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7rem 7rem;
    gap: .5rem;
    height: 14rem;
    width: 100%;
}
.quiz button {
    font-size: 1.2rem;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    height: 5rem;
    width: 15rem;
    margin: 1rem auto;
    color: var(--cor-ciano);
    background-color: rgba(0, 0, 0, 0.442);
    border: none;
    cursor: pointer;
    clip-path: polygon(0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px));
    position: relative;
    transition: .5s;
}
.quiz button:hover {
    transform: scale(1.1);
    transition: .7s;
}
.quiz button::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 0,
        2px 2px,
        2px calc(100% - 21.5px),
        21.5px calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 21.5px,
        calc(100% - 21.5px) 2px,
        2px 2px);
}

/* sinalização de erro ou acerto */

.errado {
    animation: erradoc .2s ease-in-out 2;
}
.errado::before {
    animation: errado .2s ease-in-out 2;
}

/* Contagem de acertos */

#certas {
    position: relative;
    font-size: 1.2rem;
    list-style: none;
    margin-top: 3px;
    padding: 0 0 0 3rem;
    height: 3rem;
    min-width: 5.5rem;
    color: var(--cor-ciano);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    clip-path: polygon(
        0 0,
        3rem 100%,
        100% 100%,
        100% 0
    );
}
#certas::before {
    content: "";
    position: absolute;
    height: inherit;
    padding: inherit;
    min-width: inherit;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0,
        
        8px 2px,
        calc(3rem + 1.5px) calc(100% - 4px),
        100% calc(100% - 4px),
        100% 2px, 
        8px 2px);
}

/* Resultado */

.fim {
    font-family: 'blender', Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(../img/back-2077-5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.visivel{
    z-index: 1;
}
#back {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
#back .resultado {
    text-align: center;
    width: 15rem;
    height: 5rem;
    padding: 3rem;
    margin: auto;
    margin-top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(
        0 0,
        2rem .4rem,
        calc(100% - 2rem) .4rem,
        100% 0,
        
        100% 100%,
        calc(100% - 2rem) calc(100% - .4rem),
        2rem calc(100% - .4rem),
        0 100%
        );
    position: relative;
    opacity: 0;
}
.visivel > #back .resultado {
    opacity: 1;
    transition: 1s;
}
#back .resultado::before {
    content: "";
    position: absolute;
    padding: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        100% 0,
        calc(100% - 2.5rem) 2rem,
        calc(100% - 1.5rem) .7rem,
        1.5rem .7rem,
        2.5rem 2rem,
        0 0,

        0 100%,
        100% 100%,
        calc(100% - 2.5rem) calc(100% - 2rem),
        calc(100% - 1.5rem) calc(100% - .7rem),
        1.5rem calc(100% - .7rem),
        2.5rem calc(100% - 2rem),
        0 100%
    );
}
#back .resultado::after {
    content: "";
    position: absolute;
    padding: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        4rem 3rem,
        calc(4rem + 2px) 3rem,
        calc(4rem + 2px) calc(100% - 3rem),
        4rem calc(100% - 3rem),
        4rem 3rem,

        calc(100% - 4rem - 2px) 3rem,
        calc(100% - 4rem - 2px) calc(100% - 3rem),
        calc(100% - 4rem) calc(100% - 3rem),
        calc(100% - 4rem) 3rem
    );
}
#back .resultado ul li {
    text-align: center;
    list-style: none;
}

/* Botao de voltar */

.voltar {
    display: flex;
    color: white;
    height: 3rem;
    width: 7rem;
    margin: 0 auto auto auto;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px)
    );
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    position: relative;
}
.voltar::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 0,
        2px 2px,
        2px calc(100% - 21.5px),
        21.5px calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 21.5px,
        calc(100% - 21.5px) 2px,
        2px 2px);
}
.voltar span {
    display: block;
    margin: auto;
    margin-left: 2.5rem;
}
.voltar span::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 1rem;
    top: 1rem;
    left: 1rem;
    background-color: var(--cor-ciano);
    clip-path: polygon(
        0 50%,
        6px 0,
        calc(6px + 3px) 0,
        3px 50%,
        calc(6px + 3px) 100%,
        6px 100%,
        0 50%,
        
        6px 50%,
        12px 0,
        calc(12px + 3px) 0,
        9px 50%,
        calc(12px + 3px) 100%,
        12px 100%,
        6px 50%,

        12px 50%,
        18px 0,
        calc(18px + 3px) 0,
        15px 50%,
        calc(18px + 3px) 100%,
        18px 100%,
        12px 50%
    );
}
.visivel > #back > .voltar {
    opacity: 1;
    transition: 3s;
}