* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.select {
    width: 100vw;
    height: 50vh;
    cursor: pointer;
}

#back2077 {
    background-image: url("../img/back-2077.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backedgerunners {
    background-image: url("../img/back-edgerunners.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

.resumo {
    width: 200px;
    background-color: white;
    visibility: hidden;
    height: 30vh;
}

.imglogo {
    transition: .3s;
    width: 200px;
    margin-top: 25vh;
}