
@keyframes glitch {
    0% {
        -webkit-clip-path: polygon(0 2%,100% 2%,100% 5%,0 5%);
        clip-path: polygon(0 2%,100% 2%,100% 5%,0 5%);
        opacity: 1;
        transform: translateZ(0)
    }

    2% {
        -webkit-clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(-5px)
    }

    6% {
        -webkit-clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(5px)
    }

    8% {
        -webkit-clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(-5px)
    }

    9% {
        -webkit-clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        clip-path: polygon(0 78%,100% 78%,100% 100%,0 100%);
        transform: translate(0)
    }

    10% {
        -webkit-clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        transform: translate3d(5px,0,0)
    }

    13% {
        -webkit-clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        clip-path: polygon(0 54%,100% 54%,100% 44%,0 44%);
        transform: translateZ(0)
    }

    13.1% {
        -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
        clip-path: polygon(0 0,0 0,0 0,0 0);
        transform: translate3d(5px,0,0)
    }

    15% {
        -webkit-clip-path: polygon(0 60%,100% 60%,100% 40%,0 40%);
        clip-path: polygon(0 60%,100% 60%,100% 40%,0 40%);
        transform: translate3d(5px,0,0)
    }

    20% {
        -webkit-clip-path: polygon(0 60%,100% 60%,100% 40%,0 40%);
        clip-path: polygon(0 60%,100% 60%,100% 40%,0 40%);
        transform: translate3d(-5px,0,0)
    }

    20.1% {
        -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
        clip-path: polygon(0 0,0 0,0 0,0 0);
        transform: translate3d(5px,0,0)
    }

    25% {
        -webkit-clip-path: polygon(0 85%,100% 85%,100% 40%,0 40%);
        clip-path: polygon(0 85%,100% 85%,100% 40%,0 40%);
        transform: translate3d(5px,0,0)
    }

    30% {
        -webkit-clip-path: polygon(0 85%,100% 85%,100% 40%,0 40%);
        clip-path: polygon(0 85%,100% 85%,100% 40%,0 40%);
        transform: translate3d(-5px,0,0)
    }

    30.1% {
        -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
        clip-path: polygon(0 0,0 0,0 0,0 0)
    }

    35% {
        -webkit-clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(-5px)
    }

    40% {
        -webkit-clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(5px)
    }

    45% {
        -webkit-clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(-5px)
    }

    50% {
        -webkit-clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        clip-path: polygon(0 63%,100% 63%,100% 80%,0 80%);
        transform: translate(0)
    }

    55% {
        -webkit-clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        transform: translate3d(5px,0,0)
    }

    60% {
        -webkit-clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        clip-path: polygon(0 10%,100% 10%,100% 0,0 0);
        opacity: 1;
        transform: translateZ(0)
    }

    60.1% {
        -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
        clip-path: polygon(0 0,0 0,0 0,0 0);
        opacity: 1
    }

    to {
        -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
        clip-path: polygon(0 0,0 0,0 0,0 0);
        opacity: 1
    }
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'blender';
    src: url('../fonts/blenderprobold.otf') format('truetype');
  }
  
header {
    display: flex;
    flex-direction: column;
}

.logo {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.logo:nth-child(1) {
    background-image: url(../img/back-2077-2.jpg);
}

.logo:nth-child(2) {
    background-image: url(../img/back-edgerunners-2.jpg);
}

.logo>div {
    align-items: center;
    justify-content: center;
}

img {
    width: 20rem;
    height: 5rem;
    display: block;
    margin: auto;
}

#bb {
    background-image: url(../img/botao.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    list-style: none;
    padding: .7rem 2.7rem;
    font-size: 1rem;
    display: inline;
    margin: 1rem auto 8rem auto;
    position: relative;
    width: 5rem;
}

#bb a {
    background-image: url(../img/botao.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'blender', Arial, Helvetica, sans-serif;
    list-style: none;
    padding: .7rem 2.7rem;
    font-size: 1rem;
    top: 0rem;
    left: 0rem;
    animation: glitch 3.5s linear infinite;
    position: absolute;
    width: 5rem;
    color: black;
}

.resumo {
    display: none;
}

#fundo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#conteudo {
    margin-top: calc(92vh - 2rem);
}

#conteudo::before {
    content: "";
    background-image: url(../img/divisao.svg);
    height: 2rem;
    width: 100%;
    background-size: cover;
    display: block;
    margin-bottom: -1px;
}

#conteudo div {
    background-color: rgb(0, 0, 0);
    color: white;
}