/*@keyframes passar-imagem {
    from {
        margin-left: 0;
    }
    23% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    48% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    73% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    98% {
        margin-left: -300%;
    }
    to {
        margin-left: -400%;
    }
}*/
@keyframes chegar {
    from {
        margin-left: -20rem;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes chegar2 {
    from {
        opacity: 0;
        margin-left: -20rem;
    }
    30% {
        margin-left: -20rem;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@font-face {
    font-family: 'blender';
    src: url('../fonts/blenderprobold.otf') format('truetype');
}
@font-face {
    font-family: 'blenderl';
    src: url('../fonts/BlenderPro-Book.woff2') format('truetype');
}


:root { 
    --cor-verde: #65dc98;
    --cor-rosa: #f887ff;
    --cor-vermelho: #de004e;
    --cor-vermelho-escuro: #860029;
    --cor-roxo-claro: #7a04eb;
    --cor-roxo: #321460;
    --cor-roxo-escuro: #140916;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    width: 100vw; 
    overflow-x: hidden;
}

/* barra de rolagem */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--cor-roxo-escuro);
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: var(--cor-roxo);
}
::-webkit-scrollbar-thumb:hover {
    border: 1px solid var(--cor-roxo-claro);
}

/* Header */

header {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: var(--cor-roxo);
}
header::before {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, var(--cor-roxo-escuro));
    z-index: 1;
}
header::after {
    content: "";
    position: absolute;
    top: 50vh;
    left: 100%;
    transform: translate(-100%, calc(-50% + .2rem));
    height: calc(100% - .4rem);
    width: calc(100% - .4rem);
    background-image: url(../img/night-city-4.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(
        28px 0,
        100% 0,
        100% 100%,
        0 100%,

        0 28px,
        50px 28px,
        52px 26px,
        2px 26px,

        4px 24px,
        54px 24px,
        56px 22px,
        6px 22px,

        8px 20px,
        58px 20px,
        60px 18px,
        10px 18px,

        12px 16px,
        62px 16px,
        64px 14px,
        14px 14px,

        16px 12px,
        66px 12px,
        68px 10px,
        18px 10px,

        20px 8px,
        70px 8px,
        72px 6px,
        22px 6px,

        24px 4px,
        74px 4px,
        76px 2px,
        26px 2px
    );
}

/* nav */

nav::before, 
nav > ul > li > ul::before, 
nav > ul > li > ul > li::before, 
nav > ul > a, 
nav > ul > li span::before, 
nav > ul > li span::after, 
nav > ul > li:hover, 
nav > ul > li:nth-child(1):hover ~ .canto {
    background-color: var(--cor-roxo-claro);
}
nav > ul > li:hover {
    font-family: 'blender', Arial, Helvetica, sans-serif;
}
nav > ul > li:hover  ul{
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
}

/* texto night city */

.flex {
    display: flex;
    height: 100%;
}
.texto-nightcity {
    width: 35rem;
    margin: 10vh 10vw;
    color: white;
    text-align: center;
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    z-index: 2;
}
.texto-nightcity h1 {
    font-size: 8rem;
    text-shadow: -2px -2px 15px black, 2px -2px 15px black, -2px 2px 15px black, 2px 2px 15px black;
    animation: chegar 1s ease-in-out;
}
.texto-nightcity p {
    width: inherit;
    animation: chegar2 1.5s ease-in-out;
}

/* conteudo */

main {
    height: 100vh;
    background-color: var(--cor-roxo-escuro);
}

/* gangues */

.gangues {
    height: 40rem;
    width: 100rem;
    margin-left: 4rem;
}
.gangues > h1 {
    padding: 1rem 0;
    color: var(--cor-roxo-claro);
    font-family: 'blender', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    position: relative;
}
.gangues > h1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--cor-roxo-claro);
    height: 5rem;
    width: calc(100vw - 8rem);
    clip-path: polygon(
        0 0,
        55rem 0,
        65rem calc(100% - 2px),
        100% calc(100% - 2px),
        100% 100%,
        64.85rem 100%,
        54.85rem 2px,
        0 2px
    );
}
.gangues .conteudo > h1 {
    margin: 2.5rem 1rem;
    color: var(--cor-vermelho);
    font-family: 'blenderl', Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
}
.gangues .ft {
    display: flex;
}
.gangues .display {
    margin: 3rem 0 0 0;
    height: 33.75rem;
    width: 60rem;
    border: 2px solid var(--cor-vermelho);
    background-image: url(../img/gangues/6th-Street.webp);
    background-size: cover;
    background-position: center;
}